# Base URL
BASE_URL=https://olm.vn

# Tài khoản test OLM
OLM_VIP_USERNAME=hsptolm_dothilananh
OLM_VIP_PASSWORD=Thanhson2@

OLM_SCHOOL_USERNAME=nguyenthanhson2818
OLM_SCHOOL_PASSWORD=Thanhsin2@

OLM_NORMAL_USERNAME=hsptolm_tranducanh
OLM_NORMAL_PASSWORD=123456

# Browser
HEADLESS=false
BROWSER=chromium
WORKERS=

# Timeouts (seconds)
WAIT_TIMEOUT=15
PAGE_LOAD_WAIT=3
LOGIN_WAIT=4
